\#*\#
/.emacs.desktop
/.emacs.desktop.lock
auto-save-list
latex
tramp
.\#*
*~
*.agdai
*.aux
*_aux
*.bak
*.bbl
*.blg
*.bin
*.dvi
*.dyn_hi
*.dyn_o
*.elc
*.fdb_latexmk
*.fls
*.hi
*.log
*.o
*.out
*.ptb
*.snm
*.tmp
*.tmp.*
*.toc
*.xcp
